<configuration>  
    <startup>   
        <supportedRuntime version="v0.1" sku=".NETFramework,Version=v4.5" />  
    </startup>  
  <appSettings>  
    <add key="scrH" value="500"/>  
    <add key="ScrW" value="800"/>  
    <add key="SplitH" value="60"/>
     <add key="SplitV" value="64"/>  
  </appSettings>  
</configuration>  